<header>
    <div class="flex-block">
        <a href="" class="yana-logo"><img src="img/yana-logo.png" alt=""></a>
        <a href="javascript:;" class="mobile-menu">
            <svg viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.759277" y="0.0931396" width="22.4813" height="1.5" fill="white"/>
                <rect x="0.759277" y="7.25" width="22.4813" height="1.5" fill="white"/>
                <rect x="0.759277" y="14.4069" width="22.4813" height="1.5" fill="white"/>
            </svg>
        </a>
        <a href="" class="super-logo"><img src="img/super-logo.svg" alt=""></a>
    </div>
</header>