.s-main-top {


    &__tree {}

    &__yana {}
}

.s-m-top-text {
    &__title {
        /* or 60px */
        display: flex;
        align-items: center;
        color: #000000;
        font-family: Roboto;
        font-weight: 900;
        font-size: 60px;
        line-height: 100%;
        font-style: normal;

    }

    &__desc {
        display: flex;
        align-items: center;
        color: #000000;
        font-family: Roboto;
        font-weight: 900;
        font-size: 60px;
        line-height: 100%;
        font-style: normal;



    }

    &__btn {
        display: flex;
        align-items: center;
        width: 182.51px;
        height: 54px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000000;
        font-family: Roboto;
        font-weight: 900;
        font-size: 16px;
        line-height: 150%;
        font-style: normal;
    }
}
