header{
  z-index: 100;
  height: vw(70);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include media((
          height: (md: vw2(46)),
  ));
  .flex-block{
    padding: 0 vw(33) 0 vw(30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    @include media((
            padding: (md: 0 vw2(4) 0 vw2(13)),
    ));
    .yana-logo{
      width: vw(210);
      @include media((
              width: (md: vw2(92)),
      ));
      img{
        display: block;
        width: 100%;
      }
    }
    .super-logo{
      width: vw(121);
      @include media((
              width: (md: vw2(80)),
      ));
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .mobile-menu{
      position: absolute;
      left: 50%;
      top: 50%;
      width: vw2(23);
      height: vw2(16);
      margin-left: vw2(-12);
      margin-top: vw2(-8);
      cursor: pointer;
      display: none;
      @include media((
                     display: (md: block),
      ));
      svg{
        width: 100%;
        height: 100%;
        display: block;
        rect{
          position: relative;
          transition: 0.3s ease;
          &:nth-child(1){
            transform-origin: 50% 50%;
          }
          &:nth-child(3){
            transform-origin: 50% 50%;
          }
        }
      }
      &.active{
        svg{
          rect{
            &:nth-child(1){
              transform: rotate(45deg) translateY(45%);
            }
            &:nth-child(2){
              opacity: 0;
            }
            &:nth-child(3){
              transform: rotate(-45deg)  translateY(-45%);
            }
          }
        }
      }
    }

  }
  .mobile-menu-container{
    display: none;
    height: calc(100vh - (46/320 * 100vw));
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    top: 100%;
    .header-menu{
      flex-grow: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      a{
        width: 100%;
        display: block;
        transition: 0.3s ease;
        color: #ffffff;
        font-weight: 900;
        font-size: vw2(20);
        line-height: vw2(50);
        text-align: center;
        &:active{
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .social-container{
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: vw2(70);
      box-sizing: border-box;
    }
    .social-block{
      width: vw2(180);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .social-link {
        display: block;
        cursor: pointer;
        width: vw2(36);
        height: vw2(36);

        svg {
          width: 100%;
          display: block;
        }

        &:active {
          svg path {
            fill: #E9B382;
          }
        }
      }
    }
    &.active{
      @include media((
              display: (md: flex),
      ));
    }
  }
}



footer{
  height: vw(113);
  background: #000000;
  @include media((
          height: (md: vw2(209)),
  ));
  .flex-block{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vw(56) 0 vw(41);
    box-sizing: border-box;
    @include media((
            flex-direction: (md: column),
            padding: (md: vw2(37) vw2(10) vw2(55) ),
    ));
    .social-block{
      width: vw(180);
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media((
              width: (md: vw2(180)),
      ));
      .social-link{
        display: block;
        cursor: pointer;
        width: vw(36);
        height: vw(36);
        @include media((
                width: (md: vw2(36)),
                height: (md: vw2(36)),
        ));
        svg{
          width: 100%;
          display: block;
        }
        &:hover{
          svg path{
            fill: #E9B382;
          }
        }
      }
    }
    .footer-menu{
      display: flex;
      align-items: center;
      margin-left: vw(209);
      @include media((
              display: (md: none),
      ));
      a{
        font-size: vw(17);
        color: #ffffff;
        text-transform: uppercase;
        +a{
          margin-left: vw(57);
        }
        &:hover{
          color: #E9B382;
        }
      }
    }

    .copy{
      font-size: vw(16);
      color: #FFFFFF;
      opacity: 0.6;
      text-align: center;
      @include media((
              font-size: (md: vw2(14)),
              line-height: (md: 150%),
      ));
      br{
        display: none;
        @include media((
                display: (md: initial),
        ));
      }
    }
  }
}
