$font1: "Roboto", sans-serif;
$resolution: 1920;
$resolution2: 320;

a{
	text-decoration: none;
}

body{
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
}

.container{
	margin: 0 auto;
	position: relative;
}

