#fullpage{
  height: auto !important;
  background: #E5E5E5 url("../img/test-bg.jpg") center top no-repeat;
  background-size: auto 100%;


  button{
    font-family: $font1;
  }

  .section{
    .inner{
      display: flex;
      align-items: center;
      width: vw(1440);
      margin: 0 auto;
      height: 100%;
      @include media((
              width: (md: 100%),
              justify-content: (md: center),
      ));
      .quest{
        width: vw(540);
        min-height: vw(499);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: vw(38) vw(10);
        background: #ffffff;
        @include media((
                width: (md: 100%),
                min-height: (md: vw2(340)),
                padding: (md: vw2(35) 0),
        ));
        .number{
          text-align: center;
          font-weight: 300;
          font-size: vw(18);
          margin-bottom: vw(15);
          @include media((
                  font-size: (md: vw2(14)),
                  margin-bottom: (md: vw2(12)),
          ));
        }
        button{
          margin: vw(45) auto vw(15);
          border: none;
          background: #E9B382;
          cursor: pointer;
          height: vw(54);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0 vw(40);
          font-weight: 900;
          font-size: vw(16);
          text-transform: uppercase;
          color: #FFFFFF;
          transition: 0.2s ease;
          @include media((
                  height: (md: vw2(40)),
                  padding: (md: 0 vw2(21)),
                  font-size: (md: vw2(12)),
                  margin: (md: vw2(35) auto 0),
          ));
          &:hover,
          &:active{
            background: #000000;
          }
        }
        .question{
          .text{
            max-width: vw(420);
            text-align: center;
            font-weight: 300;
            font-size: vw(24);
            line-height: 150%;
            @include media((
                    max-width: (md: vw2(248)),
                    font-size: (md: vw2(16)),
            ));
          }
        }
        .answers{
          display: none;
          width: 100%;
          .title{
            font-weight: bold;
            font-size: vw(24);
            line-height: 150%;
            text-align: center;
            color: #000000;
            margin-bottom: vw(38);
            @include media((
                    margin-bottom: (md: vw2(15)),
                    font-size: (md: vw2(20)),
            ));
          }
          .list{
            padding: 0 vw(40);
            width: 100%;
            box-sizing: border-box;
            @include media((
                    padding: (md: 0 vw2(20) 0 vw2(30)),
            ));
            label{
              display: flex;
              align-items: center;
              cursor: pointer;
              +label{
                margin-top: vw(32);
                @include media((
                        margin-top: (md: vw2(15)),
                ));
              }
              input{
                width: vw(24);
                height: vw(24);
                opacity: 0.2;
                border: 1px solid #000000;
                box-sizing: border-box;
                margin: 0;
                margin-right: vw(23);
                background: transparent;
                display: block;
                outline: none !important;
                -webkit-appearance: none;
                -moz-appearance: none;
                border-radius: 100%;
                flex-shrink: 0;
                @include media((
                        width: (md: vw2(18)),
                        height: (md: vw2(18)),
                        margin-right: (md: vw2(11)),
                ));
                &:hover{
                  opacity: 0.8;
                }
                &:checked{
                  background: #E9B382 url("../img/check.svg") center center no-repeat;
                  background-size: vw(14) vw(9);
                  border-color: #E9B382;
                  opacity: 1;
                  @include media((
                          background-size: (md: vw2(11) vw2(7)),
                  ));
                }
              }
              span{
                font-weight: 300;
                font-size: vw(18);
                line-height: vw(21);
                color: #000000;
                @include media((
                        font-size: (md: vw2(14)),
                        line-height: (md: vw2(21)),
                ));
              }
            }
          }
        }
      }

      .final{
        width: vw(600);
        min-height: vw(499);
        padding-top: vw(21);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #ffffff;
        @include media((
                width: (md: vw2(246)),
                min-height: (md: vw2(0)),
                padding-top: (md: vw2(13)),
                padding-bottom: (md: vw2(20)),
        ));
        .img-block{
          width: vw(557);
          margin: 0 auto vw(36);
          @include media((
                  width: (md: vw2(219)),
                  margin-bottom: (md: vw2(13)),
          ));
          img{
            width: 100%;
            display: block;
          }
        }
        .name{
          text-align: center;
          font-weight: 300;
          font-size: vw(18);
          text-transform: uppercase;
          margin: 0 auto;
          @include media((
                  display: (md: none),
          ));
        }
        .title{
          font-weight: bold;
          font-size: vw(32);
          line-height: 100%;
          text-align: center;
          width: vw(460);
          margin: vw(15) auto 0;
          @include media((
                  margin: (md: 0 vw2(13)),
                  line-height: (md: 150%),
                  width: (md: auto),
                  font-size: (md: vw2(20)),
          ));
        }
        .place{
          font-weight: bold;
          font-size: vw(18);
          line-height: 100%;
          text-align: center;
          text-transform: uppercase;
          margin-top: vw(26);
          display: flex;
          align-items: center;
          justify-content: center;
          @include media((
                  display: (md: none),
          ));
          &::before,
          &::after{
            content: "";
            display: block;
            width: vw(47);
            height: vw(18);
            background-size: 100% auto;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("../img/title.svg");
            flex-shrink: 0;
          }
          &::before{
            transform: scaleX(-1);
            margin-right: vw(14);
          }
          &::after{
            margin-left: vw(14);
          }
        }
        .text{
          width: vw(460);
          //min-height: vw(240);
          margin: vw(27) auto 0;
          font-weight: 300;
          font-size: vw(20);
          line-height: 150%;
          text-align: center;
          @include media((
                  display: (md: none),
          ));
        }
        .share-row{
          margin-top: vw(24);
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          height: vw(60);
          width: 100%;
          position: relative;
          @include media((
                  display: (md: none),
          ));
          .share-btn{
            border: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            background: transparent;
            pointer-events: none;
            svg{
              width: vw(20);
              height: vw(20);
            }
            span{
              font-weight: 900;
              font-size: vw(16);
              text-transform: uppercase;
              color: #000000;
              margin-left: vw(14);
            }
          }
          .social-block{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            background: #ffffff;
            opacity: 0;
            transition: 0.3s ease;
            .social-link{
              display: block;
              cursor: pointer;
              width: vw(24);
              height: vw(22);
              margin: 0;
              padding: 0;
              border: none;
              background: transparent;
              +.social-link{
                margin-left: vw(50);
              }
              svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
                pointer-events: none;
              }
              &:hover,
              &:active {
                svg path {
                  fill: #E9B382;
                }
              }
            }
          }
          &:hover{
            .social-block{
              opacity: 1;
            }
          }
        }
      }
    }
    &:nth-child(even){
      .inner{
        justify-content: flex-end;
      }
    }
  }


}

#fp-nav ul li a{
  pointer-events: none;
}

